*{
    margin: 0;
    padding: 0;

}
header{
    background-color: whitesmoke;
}

nav{
    position: fixed;
    bottom: 0;
    margin: 0;
    background: rgb(194,148,103);
    width: 100%;
    padding: 0px;

}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav li{
    border-radius: 0.5em;
    padding: 20px;
}


body{
    background-color: rgb(245, 245, 245) ;
    padding: 0%;
}

.logo{
    display: flex;
    justify-content: center;
    color: solid rgb(177, 177, 177);
}

.logo img{
    height: 110px ;
    border: 0;
    background-color: rgb(177, 177, 177);
}

figure{
    display: flex;
    justify-content: space-evenly;
}

figure img{
    height: 200px;
}

a{ 
    color: #fff;
    text-decoration: none;
}

.title{
    font-size: 20px;
    font-weight: light bold;
    text-align: center;
    background-color: rgb(194,148,103);
    border-radius: 6.5em;
    color: whitesmoke;
    margin-left: 20%;
    margin-right: 20%;
}

.gorilla img{
  margin: 5px;
}

.kintobe{
  margin: 5px;   
}

.align{
  margin: 5px;  
}

.maps{
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.maps img{
    align-items: end;
}

.icon{
    display: flex;
    justify-content: center;
}

.icon img{
    height: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
}

img{
    height: 200px;
}

table {
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border-style:double;
    font-weight: 400;
    margin-top: 10px;
  }

  
  table {
    border-collapse: collapse;
    width: 80%;
    border-radius: 0.5em;
    border: 5px;

  }

  th, td, tr{
    padding: 8px;
    text-align: center;
  }

.eind{
    margin-bottom: 70px;
}

.image-container1 {
    position: relative;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  .overlay-text1 {
    position: absolute;
    top: 100px;
    left: 120px;
    right: 130px;
    transform: translate(-50%, -50%);
    color: white;
    font-size:14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .image-container2 {
    position: relative;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9px;
  }
  
  .overlay-text2 {
    position: absolute;
    top: 70px;
    left: 240px;
    bottom: 10px;
    transform: translate(-30%, -50%);
    color: white;
    font-size:14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .image-container3 {
    position: relative;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 70px;
  }

  .overlay-text3 {
    position: absolute;
    top: 100px;
    left: 120px;
    right: 130px;
    transform: translate(-50%, -50%);
    color: white;
    font-size:14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  p{
    border: 2px solid white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    text-align: center;
    margin-top: 10px;
    background-color: white;
    border-radius: 2.5em;
    font-size: 14px;
  }

  .bold-font{
    font-weight: bold;
  }
